<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="Golf">Golf</a>
                </li>
                <li class="dropdown">
                    <a href="HB20">HB20</a>
                </li>
                <li class="dropdown">
                    <a href="IX35">IX35</a>
                </li>
                <li class="dropdown">
                    <a href="Lamborghini">Lamborghini</a>
                </li>
                <li class="dropdown">
                    <a href="SantaFe">Santa Fé</a>
                </li>
                <li class="dropdown">
                    <a href="Saveiro">Saveiro</a>
                </li>
                <li class="dropdown">
                    <a href="Sentra">Sentra</a>
                </li>
                <li class="dropdown">
                    <a href="Tucson">Tucson</a>
                </li>
                <li class="dropdown">
                    <a href="Versa">Versa</a>
                </li>
                <li class="dropdown">
                    <a href="Voyage">Voyage</a>
                </li>
            </ul>
        </div>
    </div>
</div>

	</body>
</html>