<html>
	<head>
		<title>Trabalho PI</title>
        <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css'/>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
	</head>
	<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand"> Sistema Nodejs</a>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="Aircross">AirCross</a>
                </li>
                <li class="dropdown">
                    <a href="Azera">Azera</a>
                </li>
                <li class="dropdown">
                    <a href="C3">C3</a>
                </li>
                <li class="dropdown">
                    <a href="C4">C4</a>
                </li>
                <li class="dropdown">
                    <a href="DS3">DS3</a>
                </li>
                <li class="dropdown">
                    <a href="DS5">DS5</a>
                </li>
                <li class="dropdown">
                    <a href="Ferrari">Ferrari</a>
                </li>
                <li class="dropdown">
                    <a href="Fox">Fox</a>
                </li>
                <li class="dropdown">
                    <a href="Frontier">Frontier</a>
                </li>
                <li class="dropdown">
                    <a href="Gol">Gol</a>
                </li>
            </ul>
        </div>
    </div>
</div>