<% include header.ejs %>
<div class="container">
<h1>Trabalho PI usando NodeJS</h1>
    <h3>Calculo Para Parcelamento de Carros</h3>
    <h4>Carros:</h4>

<div id="menu">
    <ul>
        <li><a href="Aircross">AirCross</a></li>
        <li><a href="Azera">Azera</a></li>
        <li><a href="C3">C3</a></li>
        <li><a href="C4">C4</a></li>
        <li><a href="DS3">DS3</a></li>
        <li><a href="DS5">DS5</a></li>
        <li><a href="Ferrari">Ferrari</a></li>
        <li><a href="Fox">Fox</a></li>
        <li><a href="Frontier">Frontier</a></li>
        <li><a href="Gol">Gol</a></li>
        <li><a href="Golf">Golf</a></li>
        <li><a href="HB20">HB20</a></li>
        <li><a href="IX35">IX35</a></li>
        <li><a href="Lamborghini">Lamborghini</a></li>
        <li><a href="SantaFe">Santa Fé</a></li>
        <li><a href="Saveiro">Saveiro</a></li>
        <li><a href="Sentra">Sentra</a></li>
        <li><a href="Tucson">Tucson</a></li>
        <li><a href="Versa">Versa</a></li>
        <li><a href="Voyage">Voyage</a></li>
    </ul>
</div>

</div>

<% include footer.ejs%>